@import "tailwindcss";

@font-face {
  font-family: 'Anton';
  src: url('/fonts/anton.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 14px; 
}

::-webkit-scrollbar-track {
  background: linear-gradient(to right, rgba(0,0,0,0.8), white 30%, white 70%, rgba(0,0,0,0.8));
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 0;
  border: none;
}

::-webkit-scrollbar-button {
  display: none;
}


.font-anton{
    font-family: anton;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.marquee-track {
  animation: scroll 15s linear infinite;
}
.marquee-content {
  white-space: nowrap;
}

.btn-shadow {
  box-shadow: 5px 5px 0 #585855;
}